{% extends '_layout.html' %}

{% block title %}Movie Rating App | Edit Movie{% endblock %}

{% block body %}
<h1 class="mb-5"></h1>

<!-- TODO: Feature 5 -->
<form method="POST" action="/movies/{{ movie.movie_id }}">
    <label for="movie-name">Title: </label>
    <input type="text" name="movie-name" value="{{ movie.title }}" required><br>
    <label for="director">Director: </label>
    <input type="text" name="director" value="{{ movie.director }}" required><br>
    <label for="rating">Rating: </label>
    <input type="number" name="rating" min="0" max="5" value="{{ movie.rating }}" required><br>
    <input type="submit" value="Save">
</form>
{% endblock %}
